{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
  <title>Login</title>


  <link rel="stylesheet" href="{% static 'accounts/login-page.css' %}">


  <section class="hero2">

    <div class="site-description">
      <h2>Login to your SuperMarkIt account</h2>
      <br>
      <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
        <br>
        <button class="btn-login-auth" type="submit"><span>Login</span></button>
      </form>
      <p>Created Aishwarya Sakunde and Arti Singh</p>
    </div>
  </section>
{% endblock %}
