.Categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.category {
  background: #d1eded;
  padding: 10px;
  border: 2px solid #656566;
  border-radius: 4px;
}

.thumbnails{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  transition-duration: 0.5s;
}

.category:hover .thumbnails{
  border-radius: 100px;
  transition-duration: 0.5s;
}

.category:hover .category-name{
  background: #86b2b8;
  padding: 10px;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  font-size: 24px;
  transition-duration: 0.3s;
}


.category-name{
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition-duration: 0.3s;
}


.Categories h5{
  text-align: center;
}
